.page-header {
  &__top {
    background-color: #000;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-link {      
      position: relative;
      display: block;
      margin-right: 55px;
      font-size: 11px;
      line-height: 1.1;
      padding: 9px 9px 9px 30px;
      color: #fff;
      text-transform: uppercase;
      &:last-child {
        margin-right: 0;
      }
      &::before {
        position: absolute;
        content: '';
        top: 10px;
        left: 0;
        .square(12px);
        background: red;
        margin-top: -1px;
      }
    }
  }//top

  &__bar {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 107px;
      padding: 15px 0;
      box-sizing: border-box;
    }
  }//bar

  &__item {
    &--shipping {
      display: flex;
      justify-content: space-between;
    }
  }

  &__nav {
    .container {
      position: relative;      
    }
    background: #f0f0f0;
    @media @tablet {
      background: none;
    }
    &-toggler {      
      display: none;
      position: relative;
      background: #ededed;
      font-size: 18px;
      line-height: 1;
      padding: 15px 17px;
      color: #000;
      text-transform: uppercase;
      @media @tablet {
        display: block;        
      }
      @media @phone {
        font-size: 30px;
        padding: 33px 17px;
      }
    }
    &-burger {
      position: absolute;
      top: 50%;
      right: 17px;
      display: block;
      width: 20px;
      height: 3px;
      background: #000;
      border-radius: 1.5px;
      @media @phone {
        height: 6px;
        width: 33px;
        border-radius: 3px;
      }
      &::before, &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 1.5px;
        background: #000;
        @media @phone {
          height: 6px;
          border-radius: 3px;
        }
      }
      &::before {
        top: -7px;
        @media @phone {
          top: -10px;
        }
      }
      &::after {
        bottom: -7px;
        @media @phone {
          bottom: -10px;
        }
      }
    }
    &-list {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;
      @media @tablet {
        position: absolute;
        top: 100%;
        left: 15px;
        right: 15px;        
        flex-direction: column;
        align-items: stretch;        
        background: #fff;
        z-index: 5;
      }
    }
    &-item {
      color: #3f3d3d;
      font-size: 13px;
      line-height: 1.1;
      transition: background 0.15s ease-in-out;
      @media @tablet {
        text-align: center;
        font-size: 20px;
      }
      &:hover {
        background: rgba(0, 0, 0, 0.05);
      }
      &--active {
        background: #e0e0e0;
      }
      a {
        display: block;
        padding: 13px;
        color: inherit;
      }
    }
  }//nav
}