/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-fb {
  background-image: url(../img/sprite.png);
  background-position: 0px -130px;
  width: 13px;
  height: 25px;
}
.icon-gplus {
  background-image: url(../img/sprite.png);
  background-position: 0px -68px;
  width: 25px;
  height: 21px;
}
.icon-insta {
  background-image: url(../img/sprite.png);
  background-position: 0px -165px;
  width: 25px;
  height: 25px;
}
.icon-pinterest {
  background-image: url(../img/sprite.png);
  background-position: 0px -200px;
  width: 26px;
  height: 26px;
}
.icon-product-card-cart {
  background-image: url(../img/sprite.png);
  background-position: 0px -42px;
  width: 15px;
  height: 16px;
}
.icon-product-card-eye {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 15px;
  height: 9px;
}
.icon-product-card-heart {
  background-image: url(../img/sprite.png);
  background-position: 0px -19px;
  width: 17px;
  height: 13px;
}
.icon-twitter {
  background-image: url(../img/sprite.png);
  background-position: 0px -99px;
  width: 25px;
  height: 21px;
}
