section.masonry
  .container
    .masonry__layout
      .masonry__item.masonry__item--wide(style='background-image: url(img/masonry/1.jpg)')
        .masonry__content
          h2.masonry__item-title LookBook
          h3.masonry__item-subtitle Choose Your Perfect Style
          a(href="/").masonry__btn Take a Look
      .masonry__item.masonry__item--oneThird.masonry__item--high(style='background-image: url(img/masonry/2.jpg)')
        a(href="/").masonry__btn Take a Look
      .masonry__item.masonry__item--high(style='background-image: url(img/masonry/3.jpg)')
        a(href="/").masonry__btn Take a Look
      .masonry__item.masonry__item--high(style='background-image: url(img/masonry/4.jpg)')
        a(href="/").masonry__btn Take a Look
      .masonry__item.masonry__item--center(style='background-image: url(img/masonry/5.jpg)')
        a(href="/").masonry__btn Join Us
      .masonry__item(style='background-image: url(img/masonry/6.jpg)')
        .masonry__item-bottom
          a(href="/").masonry__btn.masonry__btn--underline Choose Your Perfect Shoes
      .masonry__item(style='background-image: url(img/masonry/7.jpg)')
        .masonry__item-top
          a(href="/").masonry__btn.masonry__btn--underline The Hottest Bags Here
section.section
  .container
    h2.section__title Best proucts
    .products
      .products__top
        .products__amount 30 products
        a(href="").products__more View all
      .products__list
        article.product
          .product__content
            a(href="/").product__img
              img(src="/img/bp/1.jpg", alt="Джинса")
            .product__action
              a(href="/").product__btn.product__btn--toCart
              a(href="/").product__btn.product__btn--like
              a(href="/").product__btn.product__btn--watch
          a.product__bottom
            .product__descr Medium slim fit jeans
            .product__price 39$
        article.product
          .product__content
            a(href="/").product__img
              img(src="/img/bp/2.jpg", alt="Джинса")
            .product__action
              a(href="/").product__btn.product__btn--toCart
              a(href="/").product__btn.product__btn--like
              a(href="/").product__btn.product__btn--watch
          a.product__bottom
            .product__descr Medium slim fit jeans
            .product__price 39$
        article.product
          .product__content
            a(href="/").product__img
              img(src="/img/bp/3.jpg", alt="Джинса")
            .product__action
              a(href="/").product__btn.product__btn--toCart
              a(href="/").product__btn.product__btn--like
              a(href="/").product__btn.product__btn--watch
          a.product__bottom
            .product__descr Medium slim fit jeans
            .product__price 39$
        article.product
          .product__content
            a(href="/").product__img
              img(src="/img/bp/4.jpg", alt="Джинса")
            .product__action
              a(href="/").product__btn.product__btn--toCart
              a(href="/").product__btn.product__btn--like
              a(href="/").product__btn.product__btn--watch
          a.product__bottom
            .product__descr Medium slim fit jeans
            .product__price 39$
        article.product
          .product__content
            a(href="/").product__img
              img(src="/img/bp/4.jpg", alt="Джинса")
            .product__action
              a(href="/").product__btn.product__btn--toCart
              a(href="/").product__btn.product__btn--like
              a(href="/").product__btn.product__btn--watch
          a.product__bottom
            .product__descr Medium slim fit jeans
            .product__price 39$
        article.product
          .product__content
            a(href="/").product__img
              img(src="/img/bp/6.jpg", alt="Джинса")
            .product__action
              a(href="/").product__btn.product__btn--toCart
              a(href="/").product__btn.product__btn--like
              a(href="/").product__btn.product__btn--watch
          a.product__bottom
            .product__descr Medium slim fit jeans
            .product__price 39$






