header.page-header
  .page-header__top
    .container
      .page-header__item.page-header__item--shipping
        a.page-header__top-link(href="/") Free Shipping
        a.page-header__top-link(href="/") 100 % Original Products

      .page-header__item
        a.page-header__top-link(href="tel:+02078483510") Call Us: 020 7848 3510
        
  .page-header__bar
    .container
      .user-block
        a(href="").user-block__link.user-block__link--active Login
        a(href="").user-block__link Register
      a.logo(href="/")
        h1.logo__title Dreamy
        h2.logo__subtitle Online Store  

      .search
        form(action="/" method="GET").search__form
          .search__wrap
            input(type="text" placeholder="Search").search__inut
            input(type="submit").search_submit
      .page-header__action
        .cart
          div.cart__info My Cart(0):
            span.cart__total $0
          a.btn.btn--blue.cart__btn Checkout

        .search
          form.search__form(action="/search.php" method="GET" name="header-search")
            input(type="text").search__input
            search

-var headerMenuItems = ['Home', 'New Arrivals', 'Woman', 'Kids', 'Shoes', 'Accessories']

    nav.page-header__nav
      .container
        a.page-header__nav-toggler(href="javascript:void(0)") Menu
          span.page-header__nav-burger
        ul.page-header__nav-list
          for menu in headerMenuItems
            if menu == 'Home'
              li.page-header__nav-item.page-header__nav-item--active
                a(href="/") #{menu}
            else
              li.page-header__nav-item
                a(href="/") #{menu}