section.masonry
  .container
    .masonry__layout
      .masonry__item.masonry__item--wide(style='background-image: url(img/masonry/1.jpg)')
        .masonry__content
          h2.masonry__item-title LookBook
          h3.masonry__item-subtitle Choose Your Perfect Style
          a(href="/").masonry__btn Take a Look
      .masonry__item.masonry__item--oneThird.masonry__item--high(style='background-image: url(img/masonry/2.jpg)')
        a(href="/").masonry__btn Take a Look
      .masonry__item.masonry__item--high(style='background-image: url(img/masonry/3.jpg)')
        a(href="/").masonry__btn Take a Look
      .masonry__item.masonry__item--high(style='background-image: url(img/masonry/4.jpg)')
        a(href="/").masonry__btn Take a Look
      .masonry__item.masonry__item--center(style='background-image: url(img/masonry/5.jpg)')
        a(href="/").masonry__btn Join Us
      .masonry__item(style='background-image: url(img/masonry/6.jpg)')
        .masonry__item-bottom
          a(href="/").masonry__btn.masonry__btn--underline Choose Your Perfect Shoes
      .masonry__item(style='background-image: url(img/masonry/7.jpg)')
        .masonry__item-top
          a(href="/").masonry__btn.masonry__btn--underline The Hottest Bags Here